*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left:15px;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}

.content{
    min-height: 400px;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(35, 255, 83, 0.2);
}

.blog {
    margin: 0;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
}

.learn{
    display: flex;
    font-weight: 700;
    width: 100px;
    height: 30px;
    background-color: hsl(47, 88%, 63%);
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.publish{
    margin-top: 10px;
}

.title{
    margin-top: 10px;
    font-weight:800;
}

.brief{
    margin-top: 13px;
}
.avatar{
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin-top: 15px;
    margin-bottom: 15px;
}

.pic{
    margin-left: 0px;
    height: 32px;
}

.avatar_name{
    margin-left: 5px;
    font-size: smaller;
    font-weight: 900;
    
}
